
.App {
  text-align: center;
  font-size: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.info-box{
  width: 18%;
  padding: 5px;
  border: 15px solid gray;
  margin: auto;
  text-align: center;
  background: #CE6262;
  background: -moz-linear-gradient(top, #CE6262 0%, #8968A4 50%, #606FC5 100%);
  background: -webkit-linear-gradient(top, #CE6262 0%, #8968A4 50%, #606FC5 100%);
  background: linear-gradient(to bottom, #CE6262 0%, #8968A4 50%, #606FC5 100%);
  box-shadow: 5px 10px black;
}

.city{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 15px 0 0 0;

} 
.temp{
  margin: 0 0 10px 0;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.status{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  text-align: center;
  margin: auto;
}
.icon{
  margin: auto;
}
.status-des{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 10px 0 0 0;
}

.high-low{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 0 0 0;
}

.coord{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 0 0 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
